In [1]:
import pandas as pd;
import mysql.connector as con
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Hosp.csv")
df.head()

,Acquisition Date,Brand,City,Country,Date,Dimension,EBITDA Label,Gross Operating Income Label,Gross Operating Profit Label,Measure Type,...,Total Revenue,Total Rooms Available,Total Rooms Revenue,Total Rooms Sold,Total Undistributed Expenses,Gross operating income,Gross Operating profit,Management Fees and NonOperating Expenses,EBITDA,Net operating income 2
0,30-07-2021,Riverside Hotels,Atlanta,US,01-10-2019,Hotel #114,EBITDA,GROSS OPERATING INCOME (GOI),GROSS OPERATING PROFIT (GOP),Available Rooms,...,NaN,4123.0,NaN,NaN,NaN,0,0,0,0,0
1,30-07-2021,Riverside Hotels,Atlanta,US,01-10-2019,Hotel #114,EBITDA,GROSS OPERATING INCOME (GOI),GROSS OPERATING PROFIT (GOP),FF&E Reserves,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
2,30-07-2021,Riverside Hotels,Atlanta,US,01-10-2019,Hotel #114,EBITDA,GROSS OPERATING INCOME (GOI),GROSS OPERATING PROFIT (GOP),Departmental Expenses,...,NaN,NaN,NaN,NaN,NaN,-93325,-93325,0,-93325,-93325
3,30-07-2021,Riverside Hotels,Atlanta,US,01-10-2019,Hotel #114,EBITDA,GROSS OPERATING INCOME (GOI),GROSS OPERATING PROFIT (GOP),Operating Revenue,...,130484.0,NaN,NaN,NaN,NaN,130484,130484,0,130484,130484
4,30-07-2021,Riverside Hotels,Atlanta,US,01-10-2019,Hotel #114,EBITDA,GROSS OPERATING INCOME (GOI),GROSS OPERATING PROFIT (GOP),Non Operating Expenses,...,NaN,NaN,NaN,NaN,NaN,0,0,4407,-4407,-4407

In [3]:
df.columns

Index(['Acquisition Date', 'Brand', 'City', 'Country', 'Date', 'Dimension',
       'EBITDA Label', 'Gross Operating Income Label',
       'Gross Operating Profit Label', 'Measure Type',
       'Net Operating Income Label', 'Property', 'State', 'Timetable - Row',
       '_Total Departmental Expenses (Expression)',
       '_Total FF&E Reserves (Expression)',
       '_Total Management Fees (Expression)',
       '_Total Non Operating Expenses (Expression)',
       '_Total Revenue (Expression)', 'Indicator - Display Value',
       'Measure Value', 'Net Operating Income', 'Total Departmental Expenses',
       'Total FF&E Reserves', 'Total Management Fees',
       'Total Non Operating Expenses', 'Total Revenue',
       'Total Rooms Available', 'Total Rooms Revenue', 'Total Rooms Sold',
       'Total Undistributed Expenses', 'Gross operating income',
       'Gross Operating profit', 'Management Fees and NonOperating Expenses',
       'EBITDA', 'Net operating income 2'],
      dtype='object')

In [4]:
df = df.rename({
    'Acquisition Date' : 'acquisition_date',
    'EBITDA Label' : 'EBITDA_Label',
    'Gross Operating Income Label' : 'gross_operating_income_label',
    'Measure Type' : 'measure_type',
    'Net Operating Income Label' : 'net_operating_income_label',
    'Net Operating Income' : 'net_op_income',
    'Timetable - Row' : 'timetable',
    '_Total Departmental Expenses (Expression)' : 'dept_expences_e',
    'Total FF&E Reserves' : 'ff_and_e_reserves',
    '_Total Revenue (Expression)' : 'revenue_e',
    '_Total FF&E Reserves (Expression)' : 'ff_and_e_rev_e',
    '_Total Management Fees (Expression)' : 'management_fees_e',
    'Total Management Fees' : 'management_fees',
    '_Total Non Operating Expenses (Expression)' : 'non_ops_expenses',
    'Total Non Operating Expenses' : 'non_operate_expenses',
    'Indicator - Display Value' : 'indicator',
    'Measure Value' : 'measure',
    'Total Rooms Available' : 'rooms_available',
    'Total Rooms Revenue' : 'rooms_revenue',
    'Total Rooms Sold' : 'rooms_sold',
    'Total Departmental Expenses' : 'dept_expn',
    'Total Undistributed Expenses' : 'undistributed_expenses',
    'Total Revenue' : 'total_revenue',
    'Gross operating income' : 'gross_income',
    'Gross Operating Income Label' : 'gross_operating_income_Label',
    'Gross Operating Profit Label' : 'gross_operating_profit_Label',
    'Gross Operating profit' : 'gross_profit',
    'Management Fees and NonOperating Expenses' : 'management_fees_and_nonOps_exp',
    'Net operating income 2' : 'netops_income2'
}, axis=1)

In [5]:
df.columns

Index(['acquisition_date', 'Brand', 'City', 'Country', 'Date', 'Dimension',
       'EBITDA_Label', 'gross_operating_income_Label',
       'gross_operating_profit_Label', 'measure_type',
       'net_operating_income_label', 'Property', 'State', 'timetable',
       'dept_expences_e', 'ff_and_e_rev_e', 'management_fees_e',
       'non_ops_expenses', 'revenue_e', 'indicator', 'measure',
       'net_op_income', 'dept_expn', 'ff_and_e_reserves', 'management_fees',
       'non_operate_expenses', 'total_revenue', 'rooms_available',
       'rooms_revenue', 'rooms_sold', 'undistributed_expenses', 'gross_income',
       'gross_profit', 'management_fees_and_nonOps_exp', 'EBITDA',
       'netops_income2'],
      dtype='object')

In [6]:
df['Date']= pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32296 entries, 0 to 32295
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   acquisition_date                32191 non-null  object
 1   Brand                           32296 non-null  object
 2   City                            32296 non-null  object
 3   Country                         32296 non-null  object
 4   Date                            32296 non-null  datetime64[ns]
 5   Dimension                       32296 non-null  object
 6   EBITDA_Label                    32296 non-null  object
 7   gross_operating_income_Label    32296 non-null  object
 8   gross_operating_profit_Label    32296 non-null  object
 9   measure_type                    32296 non-null  object
 10  net_operating_income_label      32296 non-null  object
 11  Property                        32296 non-null  object
 12  State                           32296 non-null  object
 13  timetable                       32296 non-null  int64
 14  dept_expences_e                 8130 non-null   float64
 15  ff_and_e_rev_e                  3855 non-null   float64
 16  management_fees_e               1711 non-null   float64
 17  non_ops_expenses                3421 non-null   float64
 18  revenue_e                       5133 non-null   float64
 19  indicator                       5133 non-null   float64
 20  measure                         32296 non-null  int64
 21  net_op_income                   32296 non-null  int64
 22  dept_expn                       8130 non-null   float64
 23  ff_and_e_reserves               3855 non-null   float64
 24  management_fees                 1711 non-null   float64
 25  non_operate_expenses            3421 non-null   float64
 26  total_revenue                   5133 non-null   float64
 27  rooms_available                 1711 non-null   float64
 28  rooms_revenue                   1711 non-null   float64
 29  rooms_sold                      1711 non-null   float64
 30  undistributed_expenses          6624 non-null   float64
 31  gross_income                    32296 non-null  int64
 32  gross_profit                    32296 non-null  int64
 33  management_fees_and_nonOps_exp  32296 non-null  int64
 34  EBITDA                          32296 non-null  int64
 35  netops_income2                  32296 non-null  int64
dtypes: datetime64[ns](1), float64(15), int64(8), object(12)
memory usage: 8.9+ MB

In [7]:
df.shape

(32296, 36)

In [8]:
column=['timetable', 'dept_expences_e', 'ff_and_e_rev_e', 'management_fees_e', 'non_ops_expenses', 'revenue_e', 'indicator', 'measure', 'net_op_income', 'dept_expn', 'ff_and_e_reserves', 'management_fees', 'non_operate_expenses', 'total_revenue', 'rooms_available', 'rooms_revenue', 'rooms_sold', 'undistributed_expenses', 'gross_income', 'gross_profit', 'management_fees_and_nonOps_exp', 'EBITDA', 'netops_income2']

for i in column:
    df[i] = df[i].fillna(0)

In [9]:
df.isnull().sum()

acquisition_date                  105
Brand                               0
City                                0
Country                             0
Date                                0
Dimension                           0
EBITDA_Label                        0
gross_operating_income_Label        0
gross_operating_profit_Label        0
measure_type                        0
net_operating_income_label          0
Property                            0
State                               0
timetable                           0
dept_expences_e                     0
ff_and_e_rev_e                      0
management_fees_e                   0
non_ops_expenses                    0
revenue_e                           0
indicator                           0
measure                             0
net_op_income                       0
dept_expn                           0
ff_and_e_reserves                   0
management_fees                     0
non_operate_expenses                0
total_revenue                       0
rooms_available                     0
rooms_revenue                       0
rooms_sold                          0
undistributed_expenses              0
gross_income                        0
gross_profit                        0
management_fees_and_nonOps_exp      0
EBITDA                              0
netops_income2                      0
dtype: int64

In [10]:
df = df.drop('acquisition_date', axis=1)

In [11]:
db_config = {
    "host": "localhost",
    "user": "root",
    "password": "root",
    "database": "project"
}

db_connection = con.connect(**db_config)
db_cursor = db_connection.cursor()

table_name = "hospitality"
columns = ", ".join(df.columns)
values_placeholder = ", ".join(["%s"] * len(df.columns))
insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({values_placeholder})"

data_to_insert = list(zip(*map(df.get, df)))

db_cursor.executemany(insert_query, data_to_insert)


db_connection.commit()
db_connection.close()

print("Data insertion into MySQL completed.")

Data insertion into MySQL completed.